<div class="row">
  <div *ngIf="mobile" class="col-12 mb-3 text-center">
    <div class="btn-group">
      <button [class]="'btn btn-primary ' + (mode=='ranking'?'active':'')" (click)="mode='ranking'">Classement</button>
      <button [class]="'btn btn-primary ' + (mode=='map'?'active':'')" (click)="mode='map'">Carte</button>
    </div>
  </div>
  <div *ngIf="!mobile || (mobile && mode == 'ranking')" class="col-12 col-md-4">
    <nb-card>
      <nb-card-header *ngIf="!mobile"><h2>Classement</h2></nb-card-header>
      <nb-card-body>
        <div class="leaderboard">
          <div class="row team" *ngFor="let team of teams; index as i" [routerLink]="['teams', team.id]">
            <div class="col-2"><img [src]="team.picture" class="team-picture"></div>
            <div class="col-7 col-md-6">
              {{team.name}}<br><span class="text-muted">a déjà parcouru {{team.distance/1000}}km</span> </div>
            <div class="col-2 col-md-3 text-center">{{team.score}}pts</div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div *ngIf="!mobile || (mobile && mode == 'map')" class="col-md-8">
    <nb-card>
      <nb-card-body>
        <div style="height: 75vh;"
             leaflet
             [leafletOptions]="options"
              (leafletMapReady)="onMapReady($event)">
        </div>
      </nb-card-body>
    </nb-card>
  </div>

</div>
